@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;
    --viewport-width: 1920px;
    --viewport-height: 1080px;
    --viewport-scale: 1;
    --viewport-left: 0px;
    --viewport-top: 0px;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;

    --primary: 285 36% 15%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 195 53% 79%;
    --accent-foreground: 285 36% 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 195 53% 79%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;

    --primary: 285 36% 15%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 195 53% 79%;
    --accent-foreground: 285 36% 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 195 53% 79%;
  }

  .corrupted {
    --background: 0 0% 4%;
    --foreground: 0 80% 60%;
    --card: 0 0% 8%;
    --card-foreground: 0 80% 60%;
    --primary: 0 80% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 80% 60%;
    --accent: 0 80% 70%;
    --accent-foreground: 0 0% 4%;
    --destructive: 0 100% 50%;
    --border: 0 80% 30%;
    --input: 0 80% 15%;
    --ring: 0 80% 70%;
  }
  
  .traced {
    --background: 356 100% 6%;
    --foreground: 356 100% 90%;

    --card: 356 100% 8%;
    --card-foreground: 356 100% 90%;

    --popover: 356 100% 6%;
    --popover-foreground: 356 100% 90%;

    --primary: 356 100% 15%;
    --primary-foreground: 0 0% 98%;

    --secondary: 356 100% 10%;
    --secondary-foreground: 0 0% 98%;

    --muted: 356 100% 10%;
    --muted-foreground: 356 100% 70%;

    --accent: 356 100% 70%;
    --accent-foreground: 356 100% 8%;
    
    --border: 356 100% 20%;
    --input: 356 100% 20%;
    --ring: 356 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-hidden;
  }

  #viewport {
    position: absolute;
    transform: scale(var(--viewport-scale));
    top: var(--viewport-top);
    left: var(--viewport-left);
    width: var(--viewport-width);
    height: var(--viewport-height);
  }
}
